.about {
  padding-top: 35px;
  padding-bottom: 100px;
  background-image: url("../../img/about-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include xs {
    position: relative;
    top: -180px;
  }

  &__title {
    margin-bottom: 35px;
    max-width: 600px;
    font-size: 72px;
    line-height: 100%;
    text-transform: uppercase;

    @include mobile {
      max-width: 800px;
      text-align: center;
    }

    @include xs {
      max-width: 80%;
      font-size: 34px;
      text-align: left;
    }
  }

  &__descr {
    max-width: 470px;
    @include mont;
    font-size: 20px;
    line-height: 160%;

    @include mobile {
      max-width: 750px;
      text-align: center;
    }

    @include xs {
      max-width: 80%;
      font-size: 16px;
      text-align: left;
    }
  }

  &__about-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    padding: 29px 55px;

    img {
      margin-right: 20px;
      transform: translateY(25%);
    }

    @include xs {
      display: flex;
      align-items: flex-start;

      img {
        display: none;
      }

      span {
        text-align: center;
      }
    }
  }

  .about-projects {
    font-weight: 500;
    transform: translateY(13px)
  }
}

.about-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 56px;

  @include mobile {
    grid-template-columns: 1fr 1fr;
    margin: 60px auto 50px 0;
    max-width: 770px;
  }

  @include sm {
    grid-template-columns: 1fr;
  }

  &__item {
    border-radius: 24px;
    padding: 50px;
    padding-top: 180px;
    width: 370px;
    height: 370px;
    text-align: center;
    background-position: center 55px;
    background-repeat: no-repeat;
    background-color: #fff;

    &--empty {
      background-color: transparent;

      @include mobile {
        display: none;
      }
    }

    @include sm {
      width: 100%;
    }

    @include xs {
      height: auto;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;

    @include xs {
      font-size: 20px;
    }
  }

  &__descr {
    @include mont;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    @include sm {
      margin: auto;
      max-width: 300px;
    }

    @include xs {
      font-size: 16px;
    }
  }
}
