.callback {
  padding-top: 105px;
  padding-bottom: 110px;
  background-image: url("../../img/callback-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include sm {
    padding-bottom: 800px;
    background-image: url("../../img/callback-section-bg-mobile.png");
    background-position: bottom center;
  }

  &__container {
    position: relative;
    background-image: url("../../img/manager.png");
    background-position: 40% 70%;
    background-repeat: no-repeat;

    @include mobile {
      background-size: 300px 150px;
    }

    @include xs {
      padding: 0 5px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    max-width: 370px;
    font-size: 48px;
    line-height: 110%;

    @include sm {
      max-width: 80%;
    }

    @include xs {
      padding-left: 20px;
      font-size: 34px;
    }
  }

  &__descr {
    @include mont;
    margin-bottom: 40px;
    max-width: 370px;
    font-size: 20px;
    line-height: 160%;

    @include sm {
      max-width: 90%;
    }

    @include xs {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  &__proposal {
    @include mont;
    margin-bottom: 50px;
    max-width: 270px;
    font-size: 20px;
    line-height: 160%;

    @include sm {
      max-width: 60%;
    }

    @include xs {
      padding-left: 20px;
    }
  }

  img[alt="ruble icon"] {
    padding-left: 20px;
  }

  &__details-link {
    padding: 20px 40px;

    @include sm {
      position: absolute;
      left: 30%;
      top: 290px;
    }

    @include xs {
      display: none;
    }
  }

  &__form {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 24px;
    padding: 50px 45px;
    width: 470px;
    height: 660px;
    box-shadow: 0 35px 70px 0 rgba(11, 15, 17, 0.15);
    text-align: center;
    background-color: var(--color-white);

    &__title {
      margin-bottom: 0;
      font-size: 28px;
    }

    &__descr {
      @include mont;
      font-size: 16px;
    }

    @include sm {
      position: relative;
      margin: auto;
    }
  }

  &__manager {
    display: none;

    @include sm {
      position: absolute;
      left: 50%;
      bottom: -600px;
      display: block;
      transform: translateX(-50%);
    }

    @include xs {
      bottom: -700px;
    }
  }
}

.callback__form .callback-form-social-list {
  &__list {
    // justify-content: space-around;
    margin-top: 14px;
    margin-bottom: 34px;
    padding-left: 50px;
  }

  &__item {
    border: 1px solid #bfc9cd;
    border-radius: 100%;
    padding-top: 9px;
    padding-left: 1px;
    width: 50px;
    height: 50px;
    transition: background-color opacity 15s;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--whats {
      &:hover {
        background: linear-gradient(45deg, rgb(43, 219, 72), rgb(44, 163, 16));
        opacity: 0.8;
        transition: background-color opacity 15s;
      }
    }

    &--viber {
      &:hover {
        background: linear-gradient(45deg, rgb(126, 61, 174), rgb(138, 63, 201));
        opacity: 0.8;
        transition: background-color opacity 15s;
      }
    }

    &--telega {
      &:hover {
        background: linear-gradient(45deg, rgb(34, 159, 217), rgb(53, 109, 199));
        opacity: 0.8;
        transition: background-color opacity 15s;
      }
    }

    &--call {
      &:hover {
        background: linear-gradient(45deg, rgb(255, 224, 54), rgb(193, 204, 11));
        opacity: 0.8;
        transition: background-color opacity 15s;
      }
    }

    &--active {
      transform: scale(0.8);
    }
  }
}

.callback__form .phone-input {
  margin-bottom: 25px;
}
