.excursion {
  position: relative;
  padding-bottom: 100px;
  background-image: url("../../img/section-excursion-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-28px);

  @include sm {
    padding-bottom: 500px;
  }

  @include xs {
    top: -180px;
  }

  &__content {
    padding-top: 45px;
    max-width: 50%;

    @include sm {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: none;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 35px;
    width: 100%;
    font-size: 72px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-white);

    @include xs {
      width: 90%;
      font-size: 34px;
      text-align: left;
      margin: auto;
      margin-bottom: 10px;
    }
  }

  &__descr {
    margin-bottom: 35px;
    width: 90%;
    @include mont;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-white);

    @include sm {
      margin: auto;
    }

    @include xs {
      font-size: 16px;
      text-align: left;
    }
  }

  &__contacts {
    @include sm {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

  &__social {
    span {
      @include mont;
      font-size: 13px;
      line-height: 160%;
      color: var(--color-white);
    }
  }

  &__phone {
    span {
      @include mont;
      font-size: 12px;
      color: var(--color-white);
    }

    .callback-form {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      max-width: 680px;

      &__phone {
        margin-right: 15px;
        width: auto;
      }

      &__btn {
        padding: 29px 58px;
        width: auto;
      }

      &__agree {
        span {
          color: var(--color-white);
        }
      }
    }

    @include sm {
      position: relative;
      width: 100%;

      span {
        width: auto;
      }

      .callback-form {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: none;

        &__phone {
          margin-right: 0;
          margin-bottom: 125px;
          width: 80%;
        }

        &__btn {
          width: 80%;
        }

        &__agree {
          position: absolute;
          left: 80px;
          bottom: 110px;
        }
      }
    }

    @include xs {
      .callback-form {
        align-items: flex-start;

        &__phone {
          width: 95%;
        }

        &__agree {
          left: 0;
        }
      }
    }
  }

  &__notification {
    position: absolute;
    left: 50%;
    top: 37%;
    background-image: url("../../img/time-not.png");

    @include sm {
      top: auto;
      bottom: 230px;
      left: 200px;
    }

    @include xs {
      top: auto;
      bottom: 180px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.excursion__social .callback-form-social-list {
  &__list {
    margin-top: 14px;
    margin-bottom: 34px;
  }

  &__item {
    &:hover {
      .callback-form-social-list__img {
        animation: ex-social-anim 0.4s ease-in-out;
        cursor: pointer;
      }
    }

    svg {
      fill: var(--color-white);
    }
  }
}

.custom-checkbox-agree {
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    @include mont;
    font-size: 12px;
    line-height: 160%;
    text-align: left !important;
    color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #ffe036;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
    }

    @include sm {

    }
  }

  &--active {
    .custom-checkbox-agree__text {
      &::before {
        background-image: url("../../img/agree-checkbox-cheked.png");
        background-position: center;
        background-size: 8px 6px;
        background-repeat: no-repeat;
        background-color: #ffe036;
      }
    }
  }
}

@keyframes ex-social-anim {
  0% {
    transform: rotate(15deg);
  }

  33% {
    transform: rotate(-15deg);
  }

  66% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}
