.portfolio {
  position: relative;
  margin-top: -76px;
  padding-top: 112px;
  background-image: url("../../img/section-portfolio-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include xs {
    top: -180px;
  }

  &__title {
    margin: auto;
    margin-bottom: 34px;
    max-width: 770px;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

    @include xs {
      font-size: 34px;
    }
  }

  &__descr {
    margin: auto;
    max-width: 600px;
    @include mont;
    font-size: 20px;
    line-height: 160%;
    text-align: center;

    @include xs {
      font-size: 16px;
    }
  }

  &__notification {
    position: absolute;
    right: 19%;
    top: 260px;
    background-image: url("../../img/edit-not.png");

    @include mobile {
      display: none;
    }
  }

  &__map {
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 200px;
    width: 100%;
    min-height: 650px;
    background-color: var(--color-mystic);

    &__location {
      margin: auto;
      width: 260px;
    }
  }

  &__statistic {
    margin-top: 60px;

    .statistic__item--count .statistic__img {
      max-width: 300px;

      @include sm {
        width: 300px;
      }
    }
  }
}

.map-location {
  position: relative;

  &__content {
    position: absolute;
    left: 85px;
    top: -55px;
    border-radius: 14px;
    width: 100%;
    background-color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: -41px;
      top: 80px;
      clip-path: polygon(50% 0, 0% 100%, 100% 100%);
      width: 70px;
      height: 15px;
      background-color: var(--color-white);
      transform: rotate(-90deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: -41px;
      top: 57px;
      width: 45px;
      height: 60px;
    }

    @include xs {
      left: 0;
    }
  }

  &__img {
    margin: 15px 15px 0;
    border-radius: 14px;
    width: 230px;
  }

  &__text {
    padding: 20px 25px 30px;
  }

  &__project-props {
    display: flex;
    align-items: center;
  }

  &__project-prop {
    border-radius: 50px;
    padding: 7px 15px;
    background-color: var(--color-lily-white);

    span {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--color-cerulean);
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 20px;
    @include mont;
    font-size: 12px;
    line-height: 160%;
  }

  &__link {
    padding: 12px 25px;
    font-size: 12px;
  }
}

.portfolio-slider {
  overflow: hidden;

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 545px;

    @include mobile {
      grid-template-columns: 1fr 1fr;
      height: auto;
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    width: 340px;
    height: 260px;

    @include mobile {
      width: 450px;
    }

    @include sm {
      margin: auto;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__preview-list {
    position: absolute;
    left: 35px;
    bottom: 35px;
    display: flex;
    width: 100%;
  }

  &__preview-item {
    border-radius: 100%;
    width: 50px;
    height: 50px;

    img {
      position: relative;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:not(:last-child) {
      margin-right: 5px;
      border: 5px solid var(--color-white);
      width: 40px;
      height: 40px;

      &:hover {
        border-color: #ffe036;
        cursor: pointer;
      }
    }

    &--link {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      background-color: var(--color-cerulean);

      a {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--color-white);
      }

      &:focus,
      &:active {
        background-color: #0ba5e2;
      }

      &:hover {
        background-color: #17bdff;
        cursor: pointer;
      }
    }
  }

  &__pag {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.portfolio-slider__pag.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}
