.projects {
  height: 2040px;
  background-image: url("../../img/projects-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    display: flex;
    align-items: center;
    min-width: 1170px;
  }

  &__title {
    margin-right: 50px;
    font-size: 72px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-bunker);
  }

  &__slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;

    &__pag {
      margin-top: 57px;
      min-width: 1170px;
    }
  }
}

.projects__slider.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
}

.projects__slider.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.projects-nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
  }

  &__item {
    border-radius: 50px;
    padding: 15px 35px;
    background-color: var(--color-lily-white);

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover,
    &--active {
      background-color: var(--color-cerulean);

      .projects-nav__link {
        color: var(--color-white);
      }
    }

    &:last-child {
      // margin-right: 32px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-cerulean);
  }
}

.projects-slider-nav {
  &__prev-btn {
    margin-left: 10px;
    transform: rotate(-180deg);
  }

  &__prev-btn,
  &__next-btn {
    border: 1px solid currentColor;
    color: var(--color-mystic);
    background-color: transparent;

    &:hover {
      border: none;
      color: var(--color-white);
      background-color: var(--color-cerulean);
    }
  }
}

.projects-footer {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    &__link {
      border-radius: 50px;
      padding: 29px 55px;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--color-bunker);

      &:first-child {
        margin-right: 20px;
      }

      &--gray {
        border: 1px solid var(--color-mystic);
      }
    }
  }

  &__calc-proj {
    display: flex;
  }

  &__bottom {
    display: flex;
  }

  &__contacts {
    padding-top: 5px;
    max-width: 320px;
    text-align: center;

    &__descr {
      margin-bottom: 20px;
    }

    &__phone-link {
      font-weight: 700;
      font-size: 28px;
      color: var(--color-bunker);
    }

    &__messengers {
      justify-content: center;
      height: 40px;

      .contacts-messengers__link {
        width: 37px;
      }

      .contacts-messengers__item {
        margin-right: 2px;
      }
    }

    &__descr,
    &__schedule {
      font-family: "Mont", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 160%;
      color: var(--color-bunker);
    }
  }
}

.calc-proj {
  margin-right: 47px;

  &__img {
    width: 300px;
    height: 270px;
  }

  &__content {
    padding-top: 20px;
    padding-left: 40px;
    max-width: 235px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--color-bunker);
  }

  &__descr {
    margin-bottom: 43px;
    font-family: "Mont", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-bunker);
  }

  &__link {
    border-radius: 50px;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-cerulean);
  }
}
