.reviews {
  padding-top: 100px;
  background-image: url("../../img/reviews-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    padding: 0;
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 970px;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  &__descr {
    margin: 0 auto 50px;
    max-width: 630px;
    @include mont;
    font-size: 20px;
    line-height: 160%;
    text-align: center;

    @include mobile {
      margin-bottom: 100px;
    }
  }

  &__slider-container {
    position: relative;
    min-width: 1170px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 60px;
    width: 1020px;
    height: 555px;
    box-shadow: 0 35px 70px rgba(11, 15, 17, 0.05);

    @include mobile {
      margin: 0 0 60px;
      width: 100%;
    }

    &__prev-btn {
      left: 20px;
      transform: rotate(-180deg);

      @include mobile {
        left: 35%;
      }
    }

    &__next-btn {
      right: 20px;

      @include mobile {
        right: 50%;
      }
    }

    &__prev-btn,
    &__next-btn {
      position: absolute;
      bottom: 50%;
      z-index: 40;
      border: 10px solid #f7f9fa;
      border-radius: 100%;
      padding: 12px 12px 10px;
      width: 85px;
      height: 85px;
      color: var(--color-white);
      background-color: var(--color-mystic);

      svg {
        width: 14px;
        height: 14px;
        fill: currentColor;
      }

      &:hover {
        background-color: var(--color-cerulean);
      }

      @include mobile {
        top: -90px;
      }
    }
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
      margin-bottom: 22px;
      padding: 29px 55px;
    }
  }

  .about-projects {
    font-weight: 500;
    color: #a3b1b7;
  }
}

.reviews__slider-pag {
  margin-top: 57px;
}

.reviews__slider.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
}

.review-card {
  display: flex;
  border-radius: 12px;
  padding: 50px;
  height: 100%;
  max-width: 100%;
  background-color: var(--color-white);

  &__gallery {
    position: relative;
    margin-right: 5.5%;
    width: 47%;
    height: 100%;

    @include mobile {
      width: 40%;
    }
  }

  &__image {
    width: 100%;
    max-height: 310px;
  }

  &__preview-slider {
    overflow: hidden;
    margin-top: 15px;

    &__slide {
      display: flex;
      flex-direction: column;
      text-align: center;
      transition: opacity 0.3s;

      &:not(:last-child) {
        margin-right: 5%;
      }

      &:hover {
        opacity: 0.6;
        transition: opacity 0.3s;
        cursor: pointer;
      }
    }

    span {
      margin-top: 15px;
      @include mont;
      font-size: 12px;
      color: #a3b1b7;
    }

    &__prev-btn {
      left: -45px;
      transform: rotate(-180deg);
    }

    &__next-btn {
      right: -35px;
    }

    &__prev-btn,
    &__next-btn {
      position: absolute;
      bottom: 145px;
      z-index: 20;
      border: 10px solid var(--color-white);
      border-radius: 100%;
      padding: 10px 12px;
      padding-top: 12px;
      width: 20px;
      height: 20px;
      color: var(--color-white);
      background-color: var(--color-mystic);

      svg {
        width: 14px;
        height: 14px;
        fill: currentColor;
      }

      &:hover {
        background-color: var(--color-cerulean);
      }
    }
  }

  &__content {
    width: 47.5%;
    height: 100%;

    @include mobile {
      padding-right: 20px;
      width: 54.5%;
    }
  }

  &__user-info {
    margin-bottom: 30px;
    width: 100%;
    max-height: 65px;
  }

  &__props {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      max-width: 85%;
    }
  }

  &__prop {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 10px;
      padding-left: 20px;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background: url("../../img/blue-elipse.png");
      background-position: center left;
      background-repeat: no-repeat;
    }

    &__descr {
      max-height: 60px;
      @include mont;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__text-review {
    max-width: 450px;
    @include mont;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }

  &__source-link {
    display: block;
    margin-top: 37px;
    margin-bottom: 15px;
    border: 1px solid var(--color-mystic);
    border-radius: 50px;
    padding: 20px 40px;
    max-width: 217px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:focus,
    &:active {
      background-color: #ffed5b;
    }

    &:hover {
      border-color: transparent;
      background-color: #fff180;
    }
  }

  &__source-link-descr {
    margin-left: 50px;
    @include mont;
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    color: #a3b1b7;
    opacity: 0.85;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    background-image: url("../../img/quote.png");
    background-position: right 0;
    background-repeat: no-repeat;
  }

  &__name {
    margin-bottom: 12px;
    width: 100%;
    font-weight: 700;
    font-size: 28px;
  }

  &__review-rate {
    margin-left: 5px;
    width: 127px;
    background-image: url("../../img/rate.png");
    background-position: right 25%;
    background-repeat: no-repeat;
  }

  &__review-date,
  &__review-rate {
    @include mont;
    font-size: 18px;
    font-weight: 500;
  }
}
