.work-schema {
  position: relative;
  top: -48px;
  z-index: 10;
  padding-top: 100px;
  padding-bottom: 185px;
  background-image: url("../../img/section-work-schema-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include sm {
    padding-bottom: 50px;
  }

  @include xs {
    top: -228px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 215px;
    height: 65px;
    background-image: url("../../img/promt-schema.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);

    @include sm {
      bottom: 345px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 72px;
    text-transform: uppercase;

    @include sm {
      text-align: center;
    }

    @include xs {
      font-size: 34px;
    }
  }

  .work-shema__stages-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 1170px;

    @include mobile {
      min-width: auto;
    }

    @include sm {
      position: relative;
      flex-direction: column;
    }
  }

  &__feedback-link {
    margin: 25px 0;
    padding-left: 93px;
    width: 100%;

    a {
      display: block;
      padding: 15px 34px;
      width: 200px;
      height: 45px;
      font-size: 12px;
    }

    @include mobile {
      padding: 0;

      a {
        margin: auto;
      }
    }

    @include sm {
      position: absolute;
      top: 275px;
    }
  }
}

.stages-item {
  margin-right: 15px;
  padding: 40px 55px 47px 50px;
  width: 374px;
  height: 280px;
  background-color: var(--color-white);

  @include mobile {
    padding: 40px 25px 40px 25px;
    width: 290px;
  }

  @include sm {
    margin: auto;
    width: 80%;
    clip-path: polygon(0% 0%, 96% 0, 100% 50%, 96% 100%, 0% 100%) !important;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:first-child, {
      margin-bottom: 85px;
    }

    &:nth-child(6n) {
      margin-bottom: 105px;
    }
  }

  &__top {
    padding-left: 105px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__step {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: var(--color-cerulean);
  }

  &__title {
    margin-top: 8px;
    max-width: 130px;
    font-size: 20px;
    line-height: 130%;

    @include xs {
      font-size: 16px;
    }
  }

  &__descr {
    @include mont;
    font-size: 18px;
    line-height: 160%;

    @include xs {
      font-size: 16px;
    }
  }

  &--step-1 {
    .stages-item__top {
      background-image: url("../../img/step1.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &--step-2 {
    .stages-item__top {
      background-image: url("../../img/step2.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &--step-3 {
    margin-right: 0;

    .stages-item__top {
      background-image: url("../../img/step3.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    @include sm {
      margin-right: auto;
    }
  }

  &--step-4 {
    .stages-item__top {
      background-image: url("../../img/step4.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &--step-5 {
    .stages-item__top {
      background-image: url("../../img/step5.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &--step-6 {
    margin-right: 0;

    .stages-item__top {
      background-image: url("../../img/step6.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    @include sm {
      margin-right: auto;
    }
  }

  &--left {
    clip-path: polygon(0% 0%, 96% 0, 100% 50%, 96% 100%, 0% 100%);
  }

  &--middle {
    clip-path: polygon(96% 0, 100% 50%, 96% 100%, 0% 100%, 4% 51%, 0% 0%);
  }

  &--right {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 4% 50%);
  }
}
