<section class="about">
  <div class="container">
    <a name="about"></a>
    <h2 class="about__title">гарантируем 100% качество наших работ</h2>
    <p class="about__descr">Кратко о наших преимуществах. Если у вас возникли вопросы — свяжитесь с нами!</p>
    <div class="about__grid about-grid">
      <div class="about-grid__item" style='background-image: url("../img/grid-item-1.png");'>
        <h4 class="about-grid__title">Без предоплаты</h4>
        <p class="about-grid__descr">Цена фиксирована. Аванс после доставки материала, остаток – после сдачи;</p>
      </div>
      <div class="about-grid__item" style='background-image: url("../img/grid-item-2.png");'>
        <h4 class="about-grid__title">Опыт работы</h4>
        <p class="about-grid__descr">Опыт каждого из наших мастеров — от 7 лет. Раз в год переобучаемся;</p>
      </div>
      <div class="about-grid__item about-grid__item--empty"></div>
      <div class="about-grid__item" style='background-image: url("../img/grid-item-3.png");'>
        <h4 class="about-grid__title">Материалы</h4>
        <p class="about-grid__descr">Настоящая вологодская хвойная древесина. Даем гарантию — 5 лет;</p>
      </div>
      <div class="about-grid__item" style='background-image: url("../img/grid-item-4.png");'>
        <h4 class="about-grid__title">Строим в срок</h4>
        <p class="about-grid__descr">В договоре фиксируем сроки сдачи объекта и соблюдаем их;</p>
      </div>
      <div class="about-grid__item" style='background-image: url("../img/grid-item-5.png");'>
        <h4 class="about-grid__title">300+ проектов</h4>
        <p class="about-grid__descr">Реализовали по всей России. Нас выбрали более 100 семей из 23 городов;</p>
      </div>
      </div>
      <div class="about__about-projects">
        <a class="about__link yellow-btn">
          <img src="../img/finger.png" alt="finger icon">
          <span>выбрать для себя проект</span>
        </a>
        <span class="about-projects">Свыше 200 проектов на любой вкус</span>
      </div>
  </div>
</section>
