<section class="callback">
  <a name="callback"></a>
  <div class="container callback__container">
    <h2 class="callback__title">Оставьте заявку, если у вас есть вопросы</h2>
    <p class="callback__descr">
      Наш менеджер с радостью ответит на них и поможет подобрать вам проект
    </p>
    <img src="../img/Ruble.png" alt="ruble icon">
    <p class="callback__proposal">Получите бесплатные подарки при заказе своего дома</p>
    <a href="#" class="blue-btn callback__details-link">подробнее</a>
    <div class="callback__form">
      <h4 class="callback__form__title">мы перезвоним вам в течение 30 минут</h4>
      <p class="callback__form__descr">В рабочие часы, с 9:00 — 18:00</p>
      <div class="callback__form__social">
        <ul class="callback-form-social-list__list">
          <li class="callback-form-social-list__item callback-form-social-list__item--whats">
            <img class="callback-form-social-list__img" src="../img/whatsapp-ios.png" alt="WhatsApp icon">
            <a href="#" class="callback-form-social-list__link">WhatsApp</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--viber">
            <img class="callback-form-social-list__img" src="../img/viber-ios.png" alt="Viber icon">
            <a href="#" class="callback-form-social-list__link">Viber</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--telega">
            <img class="callback-form-social-list__img" src="../img/telega-ios.png" alt="Telegram icon">
            <a href="#" class="callback-form-social-list__link">Telegram</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--call">
            <img class="callback-form-social-list__img" src="../img/call-ios.png" alt="Call icon">
            <a href="#" class="callback-form-social-list__link">Звонок</a>
          </li>
        </ul>
      </div>
      <form class="callback-form">
        <span class="callback-form__label">Введите номер телефона:</span>
        <input class="callback-form__phone phone-input" inputmode="tel" type="tel" name="tel" placeholder="Номер телефона">
        <button class="btn-reset yellow-btn callback-form__btn" type="submit">
          <img src="../img/finger.png" alt="finger icon">
          <span>записаться</span>
        </button>
        <label for="agree2" class="callback-form__agree custom-checkbox-agree">
          <input type="checkbox" name="agree2" id="agree2" class="visually-hidden custom-checkbox-agree__input" required>
          <span class="custom-checkbox-agree__text">
            Нажимая на кнопку «Отправить заявку», я даю свое согласие на обработку персональных данных в соответствии с политикой конфиденциальности
          </span>
        </label>
      </form>
    </div>
</section>
