<div class="popup-callback pop-up pop-up-container">
  <div class="popup-callback__form">
    <div class="popup-callback__form__header">
      <span>оставить заявку</span>
      <button class="btn-reset close-popup">
        <svg>
          <use xlink:href="img/sprite.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="popup-callback__form__content">
      <span class="popup-callback__form__social-descr">как с вами связаться:</span>
      <div class="popup-callback__form__social">
        <ul class="callback-form-social-list__list">
          <li class="callback-form-social-list__item callback-form-social-list__item--whats">
            <img class="callback-form-social-list__img" src="../img/whatsapp-ios.png" alt="WhatsApp icon">
            <a href="#" class="callback-form-social-list__link">WhatsApp</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--viber">
            <img class="callback-form-social-list__img" src="../img/viber-ios.png" alt="Viber icon">
            <a href="#" class="callback-form-social-list__link">Viber</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--telega">
            <img class="callback-form-social-list__img" src="../img/telega-ios.png" alt="Telegram icon">
            <a href="#" class="callback-form-social-list__link">Telegram</a>
          </li>
          <li class="callback-form-social-list__item callback-form-social-list__item--call">
            <img class="callback-form-social-list__img" src="../img/call-ios.png" alt="Call icon">
            <a href="#" class="callback-form-social-list__link">Звонок</a>
          </li>
        </ul>
      </div>
      <form class="callback-form">
        <span class="callback-form__label">Как к вам обращаться:</span>
        <input class="callback-form__phone callback-form__phone--name phone-input" type="text" name="name" placeholder="Имя" required>
        <span class="callback-form__label">Введите номер телефона:</span>
        <input class="callback-form__phone phone-input" inputmode="tel" type="tel" name="tel" placeholder="Номер телефона" required>
        <button class="btn-reset yellow-btn callback-form__btn" type="submit">
          <img src="../img/finger.png" alt="finger icon">
          <span>записаться</span>
        </button>
        <label for="agree-cb" class="callback-form__agree custom-checkbox-agree">
          <input type="checkbox" name="agree-cb" id="agree-cb" class="visually-hidden custom-checkbox-agree__input" required>
          <span class="custom-checkbox-agree__text">
            Нажимая на кнопку «Отправить заявку», я даю свое согласие на обработку персональных данных в соответствии с политикой конфиденциальности
          </span>
        </label>
      </form>
    </div>
    <div class="popup-callback__form__footer">
      <span class="popup-callback__form__footer__title">Или свяжитесь самостоятельно</span>
      <a href="tel:+8 800 250 53 23" class="popup-callback__form__footer__tel">8 800 250 53 23</a>
      <span class="popup-callback__form__footer__descr">Ежедневно, 9:00 — 18:00</span>
      <ul class="contacts-messengers popup-callback__form__footer__messengers">
        <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--whats"></a></li>
        <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--viber"></a></li>
        <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--telegram"></a></li>
      </ul>
    </div>
  </div>
</div>
