<div class="offer-categories">
  <ul class="offer-categories__list">
    <li class="offer-categories__item">
      <div class="categories-item__top">
        <img src="../img/karkasnie-doma.png" class="categories-item__img" alt="Каркасные дома">
        <span class="categories-item__index">89</span>
      </div>
      <div class="categories-item__bottom">
        <div class="offer-categories__text">
          <h3 class="offer-categories__title">Каркасные дома</h3>
          <span class="offer-categories__price">от 679 000 ₽</span>
        </div>
        <a href="/catalog.html" class="offer-categories__link circle-link">
          <svg>
             <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="offer-categories__item">
      <div class="categories-item__top">
        <img src="../img/doma-iz-brusa.png" class="categories-item__img" alt="Дома из бруса">
        <span class="categories-item__index">67</span>
      </div>
      <div class="categories-item__bottom">
        <div class="offer-categories__text">
          <h3 class="offer-categories__title">Дома <br> из бруса</h3>
          <span class="offer-categories__price">от 549 000 ₽</span>
        </div>
        <a href="/catalog.html" class="offer-categories__link circle-link">
          <svg>
             <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="offer-categories__item">
      <div class="categories-item__top">
        <img src="../img/bany-iz-brusa.png" class="categories-item__img" alt="Бани из бруса">
        <span class="categories-item__index">24</span>
      </div>
      <div class="categories-item__bottom">
        <div class="offer-categories__text">
          <h3 class="offer-categories__title">Бани <br> из бруса</h3>
          <span class="offer-categories__price">от 369 000 ₽</span>
        </div>
        <a href="/catalog.html" class="offer-categories__link circle-link">
          <svg>
             <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</div>
