<section class="excursion">
  <div class="container">
    <div class="excursion__content">
      <h2 class="excursion__title">Запишитесь на экскурсию</h2>
      <p class="excursion__descr">Покажем один из наших текущих объектов, расскажем о технологиях строительства</p>
      <div class="excursion__contacts">
        <div class="excursion__social excursion-social">
          <span>Выберите удобный способ связи:</span>
          <ul class="excursion-social__list">
            <li class="excursion-social__item">
              <img class="excursion-social__img" src="../img/excursion-whats.png" alt="WhatsApp icon">
              <a href="#" class="excursion-social__link">WhatsApp</a>
            </li>
            <li class="excursion-social__item">
              <img class="excursion-social__img" src="../img/excursion-viber.png" alt="">
              <a href="#" class="excursion-social__link">Viber</a>
            </li>
            <li class="excursion-social__item">
              <img class="excursion-social__img" src="../img/excursion-telegram.png" alt="">
              <a href="#" class="excursion-social__link">Telegram</a>
            </li>
            <li class="excursion-social__item">
              <img class="excursion-social__img" src="../img/excursion-call.png" alt="">
              <a href="#" class="excursion-social__link">Звонок</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="excursion__phone">
      <span>Введите номер телефона:</span>
      <form class="excursion-form">
        <input class="excursion-form__phone" type="tel" name="tel" placeholder="8 (920) 344-22-00">
        <button class="btn-reset yellow-btn excursion-form__btn" type="submit">
          <img src="../img/finger.png" alt="finger icon">
          <span>записаться</span>
        </button>
        <label for="agree" class="excursion-form__agree custom-checkbox-agree custom-checkbox-agree--active">
          <input type="checkbox" name="agree" class="visually-hidden custom-checkbox-agree__input">
          <span class="custom-checkbox-agree__text">
            Нажимая на кнопку «Отправить заявку», я даю свое согласие на обработку персональных данных в соответствии с политикой конфиденциальности
          </span>
        </label>
      </form>
    </div>
    <div class="excursion__notification notification">
      <a href="#">Перезвоним вам за 30 минут</a>
    </div>
  </div>
</section>
