<header class="header">
    <div class="container">
      <div class="header__top">
          <img src="../img/logo.png" alt="logo" class="header__logo">
          <img src="../img/logo-min.png" alt="logo" class="header__logo--mob for-mobile">
          <div class="header__contacts">
            <div class="header__phone">
              <a href="tel:+8 800 250 53 23" class="header__tel">8 800 250 53 23</a>
              <span class="header__phone__descr">Ежедневно, 9:00 — 18:00</span>
              <ul class="contacts-messengers header__phone__messengers">
                <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--whats"></a></li>
                <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--viber"></a></li>
                <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--telegram"></a></li>
              </ul>
            </div>
            <div class="header__feedback feedback">
              <ul class="feedback__list">
                <li class="feedback__list__item">
                  <a href="#" class="feedback__list__link feedback__list__link--call">перезвонить?</a>
                  <span class="feedback__list__descr">В течение 15 минут</span>
                </li>
                <li class="feedback__list__item">
                  <button class="feedback__list__link feedback__list__link--question">задать вопрос</button>
                  <a href="email:work@53-doma.ru" class="feedback__list__descr">work@53-doma.ru</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__social social">
            <ul class="social__list">
              <li class="social__item"><a href="#" class="social__link social__link--vk"></a></li>
              <li class="social__item"><a href="#" class="social__link social__link--inst"></a></li>
              <li class="social__item"><a href="#" class="social__link social__link--youtube"></a></li>
            </ul>
            <div class="social__descr">Подписывайтесь в соц. сетях :)</div>
          </div>
      </div>
      <div class="header__bottom">
          <nav class="header-nav">
            <ul class="header-nav__list">
              <li class="header-nav__item header-nav__item--dropdown">
                <a href="#projects" class="header-nav__link">Проекты <img src="../img/arrow-down.png" alt="drop submenu"></a>
                <div class="header-nav__dropdown dropdown-link">
                  <ul class="dropdown-link__list">
                    <li class="dropdown-link__item"><a href="#" class="dropdown-link__link">Ссылка в меню</a></li>
                    <li class="dropdown-link__item"><a href="#" class="dropdown-link__link">Ссылка в меню</a></li>
                    <li class="dropdown-link__item"><a href="#" class="dropdown-link__link">Ссылка в меню</a></li>
                    <li class="dropdown-link__item"><a href="#" class="dropdown-link__link">Ссылка в меню</a></li>
                  </ul>
                </div>
              </li>
              <li class="header-nav__item"><a href="#" class="header-nav__link">Калькулятор</a></li>
              <li class="header-nav__item"><a href="#portfolio" class="header-nav__link">Наши работы</a></li>
              <li class="header-nav__item header-nav__item--dropdown">
                <a href="#about" class="header-nav__link">Клиентам <img src="../img/arrow-down.png" alt="drop submenu"></a>
                <div class="header-nav__dropdown dropdown-link">
                  <ul class="dropdown-link__list">
                    <li class="dropdown-link__item"><a href="#excursion" class="dropdown-link__link">Экскурсии</a></li>
                    <li class="dropdown-link__item"><a href="#schema" class="dropdown-link__link">Схема работы</a></li>
                    <li class="dropdown-link__item"><a href="#services" class="dropdown-link__link">Услуги</a></li>
                  </ul>
                </div>
              </li>
              <li class="header-nav__item"><a href="#prom" class="header-nav__link">Акции</a></li>
              <li class="header-nav__item"><a href="#callback" class="header-nav__link">Контакты</a></li>
            </ul>
          </nav>
      </div>
    </div>
</header>
