<section class="offer">
  <div class="container">
    <div class="offer__container">
      <div class="offer__guarantee notification">
        <a href="#">Гарантия на работы 5 лет</a>
      </div>
      <div class="offer__content">
        <h1 class="offer__title">Строим для вас каркасные дома по финской технологии</h1>
        <p class="offer__descr">Получите теплый и уютный дом для проживания «под ключ» за 21 день по цене от 9 900 ₽ за м2!</p>
        <div class="offer__pick-proj">
          <button class="btn-reset offer__btn yellow-btn">
            <img src="../img/finger.png" alt="finger icon">
            подобрать проект</button>
          <span class="offer__about-projects about-projects">Свыше 200 проектов на выбор</span>
        </div>
      </div>
    </div>
    @include('./categories.html')
    <div class="offer-statistic statistic">
      <ul class="statistic__list">
        <li class="statistic__item">
          <img class="statistic__img" src="../img/exp.png" alt="Стаж компании">
          <p class="statistic__descr">лет строим лучшие дома и бани по всей России</p>
          <a class="statistic__link light-blue-btn">немного о нас</a>
        </li>
        <li class="statistic__item statistic__item--count">
          <img class="statistic__img" src="../img/proj-count.png" alt="Количество проектов">
          <p class="statistic__descr">домов и бань построено нами за все время</p>
          <a class="statistic__link light-blue-btn">Посмотреть</a>
        </li>
        <li class="statistic__item statistic__item--calc">
          <img class="statistic__img" src="../img/calculator.png" alt="calculator icon">
          <h3 class="statistic__title">посчитать <br> проект</h3>
          <p class="statistic__descr">Бесплатно</p>
          <a href="#" class="statistic__link circle-link">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
