<section class="portfolio">
  <div class="container">
    <a name="portfolio"></a>
    <h2 class="portfolio__title">C 2009 года мы построили более 300 домов</h2>
    <p class="portfolio__descr">Вы можете записаться на экскурсию на один из представленных объектов</p>
    <div class="portfolio__notification notification">
      <a href="#">Записаться на осмотр объекта</a>
    </div>
    <div class="portfolio__map">
      <div class="portfolio__map__location map-location">
        <img src="../img/marker.png" alt="Map marker">
        <div class="map-location__content">
          <img src="../img/location-img.jpg" alt="project img" class="map-location__img">
          <div class="map-location__text">
            <ul class="map-location__project-props">
              <li class="map-location__project-prop"><span>113 м²</span></li>
              <li class="map-location__project-prop"><span>8×8 м²</span></li>
            </ul>
            <h4 class="map-location__title">Каркасный дом, проект «ДК-012»</h4>
            <p class="map-location__descr">Новгородская область, д. Неронов Бор</p>
            <a href="#" class="map-location__link blue-btn">подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio__slider portfolio-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="portfolio-slider__list">
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="portfolio-slider__list">
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="portfolio-slider__list">
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="portfolio-slider__list">
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="portfolio-slider__list">
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-2.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+10</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-3.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+15</a>
                </li>
              </ul>
            </li>
            <li class="portfolio-slider__item">
              <img class="portfolio-slider__img" src="../img/port-item-bg-1.png" alt="house image">
              <ul class="portfolio-slider__preview-list">
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-1.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-2.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item">
                  <img src="../img/port-prev-3.jpg" alt="preview image">
                </li>
                <li class="portfolio-slider__preview-item portfolio-slider__preview-item--link">
                  <a href="#">+12</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="portfolio-slider__pag"></div>
    </div>
    <div class="portfolio__statistic statistic">
      <ul class="statistic__list">
        <li class="statistic__item statistic__item--count">
          <img class="statistic__img" src="../img/proj-count.png" alt="Количество проектов">
          <p class="statistic__descr">домов и бань построено нами за все время</p>
          <a class="statistic__link blue-btn">Посмотреть</a>
        </li>
        <li class="statistic__item statistic__item--count">
          <img class="statistic__img" src="../img/family-count.png" alt="Количество проектов">
          <p class="statistic__descr">семей уже радуются жизни в новых домах</p>
          <a class="statistic__link blue-btn">читать отзывы</a>
        </li>
        <li class="statistic__item statistic__item--count">
          <img class="statistic__img" src="../img/clients-count.png" alt="Количество проектов">
          <p class="statistic__descr">делаем счастливыми людей с 2010 года</p>
          <a class="statistic__link blue-btn">немного о нас</a>
        </li>
      </ul>
    </div>
  </div>
</section>
