<section class="product-info">
  <div class="container product-info__container">
    <nav class="product-info__nav product-info-nav">
      <ul class="product-info-nav__list">
        <li class="product-info-nav__item" data-set="под усадку">
          <img src="../img/product-nav-img-1.png" alt="product nav img">
          <a name="pod_usadku" class="product-info-nav__link">под усадку</a>
          <span class="product-info-nav__price">от 829 000 ₽</span>
        </li>
        <li class="product-info-nav__item product-info-nav__item--active" data-set="дачный">
          <img src="../img/product-nav-img-2.png" alt="product nav img">
          <a name="dachnyi" class="product-info-nav__link">дачный</a>
          <span class="product-info-nav__price">от 1 023 000 ₽</span>
        </li>
        <li class="product-info-nav__item" data-set="под ключ">
          <img src="../img/product-nav-img-3.png" alt="product nav img">
          <a name="pod_klych" class="product-info-nav__link">под ключ</a>
          <span class="product-info-nav__price">от 1 345 000 ₽</span>
        </li>
        <li class="product-info-nav__item" data-set="зимний">
          <img src="../img/product-nav-img-4.png" alt="product nav img">
          <a name="zymnyi" class="product-info-nav__link">зимний</a>
          <span class="product-info-nav__price">от 1 583 000 ₽</span>
        </li>
      </ul>
    </nav>
    <div class="product-info__content">
      <table>
        <tr>
          <td>Фундамент</td>
          <td>Не входит в базовую комплектацию, рассчитывается в индивидуальном порядке;</td>
        </tr>
        <tr>
          <td>Основание (обвязка)</td>
          <td><span>Два венца нестроганного бруса 100×150, 150×150 или 200×150 мм</span>, в зависимости от толщины каркаса стен;</td>
        </tr>
        <tr>
          <td>Лаги пола</td>
          <td><span>Лаги из обрезной доски 50×150 мм </span> впиливаются в основание <span>с шагом не более 600 мм</span>;</td>
        </tr>
        <tr>
          <td>Каркас наружных стен</td>
          <td>Силовой каркас внешних стен изготавливается из <span>обрезной доски естественной влажности 40×100, 40×150 или 40×200 мм</span> (в зависимости комплектации). Монтируются <span>раскосины 40×100×мм естественной влажности</span>. Производится <span>утепление каменной базальтовой ватой «Rockwool» в 100, 150 или 200 мм</span> (в зависимости комплектации). С наружной стороны прокладывается <span>ветрозащитная мембрана «Изоспан А»</span>, с внутренней стороны — <span>пароизоляционная мембрана «Изоспан Б»</span>;</td>
        </tr>
        <tr>
          <td>Каркас внутренних перегородок</td>
          <td>Выполняются из <span>нестроганной доски естественной влажности 40×100 мм с шагом 600 мм</span>, собирается на гвозди. Производится <span>утепление «Rockwool» в 100 мм</span>. С обеих сторон прокладывается <span>пароизоляционная мембрана «Изоспан Б»</span>. Подшивается вагонкой хвойных пород камерной сушки;</td>
        </tr>
        <tr>
          <td>Черновой пол</td>
          <td>Монтируется черновой пол <span>из обрезной доски естественной влажности 22×100 мм</span>;</td>
        </tr>
        <tr>
          <td>Утепление пола</td>
          <td>По черновому полу прокладывается <span>ветроизоляционная мембрана «Изоспан А», пол утепляется минеральной ватой «Knauf» в 100 мм</span>. Поверх протягивается пароизоляционная мембрана «Изоспан Б» или аналог;</td>
        </tr>
        <tr>
          <td>Чистовой пол</td>
          <td>Выполняется <span>из сухой шпунтованной доски в 36 мм</span>. Крепится на саморезы;</td>
        </tr>
        <tr>
          <td>Высота потолков</td>
          <td>Первый этаж — 2.4 м. Мансарда — 2.3 м. Возможно <span>увеличение высоты потолков</span>;</td>
        </tr>
        <tr>
          <td>Внутренняя отделка стен</td>
          <td>Наружные стены и перегородки <span>подшиваются сухой вагонкой 14 мм</span> хвойных пород древесины, сорта «B»;</td>
        </tr>
        <tr>
          <td>Внешняя отделка стен</td>
          <td>Вагонка естественной влажности <span>из хвойных пород 14 мм</span>;</td>
        </tr>
        <tr>
          <td>Потолочные балки</td>
          <td><span>Обрезная доска 40×150</span> естественной влажности <span>с шагом 900 мм</span>;</td>
        </tr>
        <tr>
          <td>Потолки</td>
          <td><span>Утепляются минеральной ватой «Knauf»</span>, протягивается пароизоляционная мембрана «Изоспан Б» или аналог, <span>подшивается сухой вагонкой 14 мм</span> хвойных парод, сорт «В»;</td>
        </tr>
        <tr>
          <td>Стропила</td>
          <td>Нестроганная доска <span>естественной влажности 40×100 мм с шагом не более 900 мм;</span></td>
        </tr>
        <tr>
          <td>Обрешетка крыши</td>
          <td>Одинарная, из обрезной доски <span>естественной влажности 22 мм;</span></td>
        </tr>
        <tr>
          <td>Крыша и кровля</td>
          <td>Крыша двускатная или ломанная (согласно проекту). Высота конька — 3.5 м. Кровельный материал — <span>ондулин (красный, коричневый или зеленый)</span>. Для обеспечения вентиляции <span>монтируются контр-рейки из доски 20х50 мм</span>. Прокладывается ветроизоляционная мембрана «Изоспан А»;</td>
        </tr>
        <tr>
          <td>Внешние фронтоны и поднебесники</td>
          <td>Каркасные <span>с прокладкой ветрозащитной мембраны «Изоспан А»</span>. Снаружи <span>обшиваются вагонкой 14 мм класса «В»</span> естественной влажности. Поднебесники по скату и по фронтону шириной 270 мм;</td>
        </tr>
        <tr>
          <td>Окна</td>
          <td>Деревянные окна <span>двойного остекления из сосны, толщиной бруска 46 мм</span>. Два стекла через деревянную планку 3×10×3 мм. Стекла герметично просиликонены. Поворотная фурнитура. В комплекте ручки. Размеры и количество — согласно проекту;</td>
        </tr>
        <tr>
          <td>межкомнатные двери</td>
          <td>Деревянные <span>филенчатые из сосны</span> без фурнитуры;</td>
        </tr>
        <tr>
          <td>Входные двери</td>
          <td><span>Металлические утепленные</span>. Производство — Китай;</td>
        </tr>
        <tr>
          <td>Отделка</td>
          <td>Все <span>углы дома закрываются сухим деревянным плинтусом  </span>. Оконные и дверные проемы обносятся наличником;</td>
        </tr>
      </table>
    </div>
  </div>
</section>
