<section class="main-project__card product-page-card">
  <div class="container">
    <div class="product-page-card__container">
      <div class="product-page-card__left">
          <div class="product-page-card__gallery">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../img/project-image-1.jpg" alt="project image">
              </div>
              <div class="swiper-slide">
                <img src="../img/project-image-2.jpg" alt="project image">
              </div>
              <div class="swiper-slide">
                <img src="../img/project-image-3.jpg" alt="project image">
              </div>
              <div class="swiper-slide">
                <img src="../img/project-image-1.jpg" alt="project image">
              </div>
              <div class="swiper-slide">
                <img src="../img/project-image-2.jpg" alt="project image">
              </div>
              <div class="swiper-slide">
                <img src="../img/project-image-3.jpg" alt="project image">
              </div>
            </div>
            <div class="product-page-card__guarantee notification">
              <a href="#">Гарантия на работы 5 лет</a>
            </div>
            <div class="product-page-card__btn-container">
              <button class="btn-reset product-page-card__prev-btn circle-link">
                <svg>
                  <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                </svg>
              </button>
              <button class="btn-reset product-page-card__next-btn circle-link">
                <svg>
                  <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                </svg>
              </button>
            </div>
            <div class="product-page-card__paginaton">
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-1.jpg" alt="">
              </div>
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-2.jpg" alt="">
              </div>
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-3.jpg" alt="">
              </div>
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-1.jpg" alt="">
              </div>
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-2.jpg" alt="">
              </div>
              <div class="product-page-card__prev-image">
                <img src="../img/project-image-3.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="product-page-card__attention">
            <p class="product-page-card__attention__text">
              <span>Обратите внимание!</span> Проект можно изменить по вашим требованиям и желаниям: добавить перегородки и двери; переместить или убрать окна; изменить строительные материалы;
            </p>
          </div>
          <div class="product-page-card__promotion">
            <p class="product-page-card__promotion__text">Получите <span>бесплатные подарки</span> при заказе своего дома</p>
            <a href="#" class="product-page-card__promotion__link blue-btn">подробнее</a>
          </div>
          <div class="product-page-card__statistic statistic">
            <ul class="statistic__list">
              <li class="statistic__item statistic__item--count">
                <img class="statistic__img" src="../img/proj-count.png" alt="Количество проектов">
                <p class="statistic__descr">домов и бань построено нами за все время</p>
                <a href="/#portfolio" class="statistic__link blue-btn">Посмотреть</a>
              </li>
              <li class="statistic__item statistic__item--count">
                <img class="statistic__img" src="../img/family-count.png" alt="Количество проектов">
                <p class="statistic__descr">семей уже радуются жизни в новых домах</p>
                <a href="/#review" class="statistic__link blue-btn">читать отзывы</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="product-page-card__right">
        <div class="product-page-card__props">
          <span class="product-page-card__props__title">о проекте</span>
          <ul class="product-page-card__props__list">
            <li class="product-page-card__props__item">
              <span class="product-page-card__props__item_name">Площадь дома:</span>
              <span class="product-page-card__props__item_value">243 м2;</span>
            </li>
            <li class="product-page-card__props__item">
              <span class="product-page-card__props__item_name">Размеры дома:</span>
              <span class="product-page-card__props__item_value">12x12 м;</span>
            </li>
            <li class="product-page-card__props__item">
              <span class="product-page-card__props__item_name">Срок постройки (дней):</span>
              <span class="product-page-card__props__item_value">45</span>
            </li>
            <li class="product-page-card__props__item">
              <span class="product-page-card__props__item_name">Гарантия:</span>
              <span class="product-page-card__props__item_value">3 года</span>
            </li>
          </ul>
        </div>
        <div class="product-page-card__features">
          <span class="product-page-card__features__title">особенности</span>
          <ul class="product-page-card__features__list">
            <li class="product-page-card__features__item"><span>Терраса</span></li>
            <li class="product-page-card__features__item"><span>Веранда</span></li>
            <li class="product-page-card__features__item"><span>Санузел</span></li>
            <li class="product-page-card__features__item"><span>2 этажа</span></li>
            <li class="product-page-card__features__item"><span>Дачный</span></li>
          </ul>
        </div>
        <div class="product-page-card__sets">
          <span class="product-page-card__sets__title">комплекты</span>
          <ul class="product-page-card__sets__list">
            <li class="product-page-card__sets__item">
              <div class="product-page-card__sets__item_left">
                <span>под усадку</span>
                <a class="open-plan" data-set="под усадку">что входит</a>
              </div>
              <div class="product-page-card__sets__item_right">
                <span>от 829 000 ₽</span>
              </div>
            </li>
            <li class="product-page-card__sets__item">
              <div class="product-page-card__sets__item_left">
                <span>под ключ</span>
                <a class="open-plan" data-set="под ключ">что входит</a>
              </div>
              <div class="product-page-card__sets__item_right">
                <span>от 1 023 000 ₽</span>
              </div>
            </li>
            <li class="product-page-card__sets__item">
              <div class="product-page-card__sets__item_left">
                <span>дачный</span>
                <a class="open-plan" data-set="дачный">что входит</a>
              </div>
              <div class="product-page-card__sets__item_right">
                <span>от 1 345 000 ₽</span>
              </div>
            </li>
            <li class="product-page-card__sets__item">
              <div class="product-page-card__sets__item_left">
                <span>зимний</span>
                <a class="open-plan" data-set="зимний">что входит</a>
              </div>
              <div class="product-page-card__sets__item_right">
                <span>от 1 583 000 ₽</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="product-page-card__contacts">
          <a class="product-page-card__contacts__link blue-btn open-calculate-modal" href="#">рассчитать проект</a>
          <span class="about-projects">Перезвоним вам в течение 30 минут и дадим предварительный расчет</span>
          <span class="about-projects">Или свяжитесь с нами:</span>
          <a href="tel:+8 800 250 53 23" class="product-page-card__contacts__tel contacts__tel">8 800 250 53 23</a>
          <span class="product-page-card__contacts__descr">Ежедневно, 9:00 — 18:00</span>
          <ul class="contacts-messengers header-contacts__messengers">
            <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--whats"></a></li>
            <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--viber"></a></li>
            <li class="contacts-messengers__item"><a href="#" class="contacts-messengers__link contacts-messengers__link--telegram"></a></li>
          </ul>
        </div>
      </div>
    </div>
</section>
