<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">в 99,9% случаев клиенты довольны нашей работой</h2>
    <p class="reviews__descr">Только реальные клиенты. Никаких «покупных» отзывов. Учитываем все замечания и стараемся быть лучше</p>
    <div class="reviews__slider-container">
      <div class="reviews__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__gallery">
                <img src="../img/review-img.jpg" alt="review image" class="review-card__image">
                <div class="review-card__preview-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-1.jpg" alt="preview image">
                        <span>Крыльцо</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-2.jpg" alt="preview image">
                        <span>Первый этаж</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-3.jpg" alt="preview image">
                        <span>Мансарда</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-reset review-card__preview-slider__prev-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
                <button class="btn-reset review-card__preview-slider__next-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
              </div>
              <div class="review-card__content">
                <div class="review-card__user-info user-info">
                  <img class="user-info__avatar" src="../img/user-icon.png" alt="User avatar">
                  <div class="user-info__content">
                    <span class="user-info__name">Андрей Блинов</span>
                    <span class="user-info__review-date">Август 17, 2020 · </span>
                    <span class="user-info__review-rate"> 4,9</span>
                  </div>
                </div>
                <div class="review-card__props">
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">проект</span>
                    <span class="review-card__prop__descr">Каркасный дом, КД-79 «Новгород»</span>
                  </div>
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">район</span>
                    <span class="review-card__prop__descr">Новгородская обл., деревня Ермолино</span>
                  </div>
                </div>
                <p class="review-card__text-review">
                  Давно мечтал о доме, участок приобрел несколько лет назад, но строительство как-то откладывалось. Компанию «53 Дома» посоветовал сосед – заказывал у вас баню.
                </p>
                <a href="#" class="review-card__source-link">читать полностью (.pdf)</a>
                <span class="review-card__source-link-descr">Оригинал отзыва в виде скана</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__gallery">
                <img src="../img/review-img.jpg" alt="review image" class="review-card__image">
                <div class="review-card__preview-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-1.jpg" alt="preview image">
                        <span>Крыльцо</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-2.jpg" alt="preview image">
                        <span>Первый этаж</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-3.jpg" alt="preview image">
                        <span>Мансарда</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-reset review-card__preview-slider__prev-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
                <button class="btn-reset review-card__preview-slider__next-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
              </div>
              <div class="review-card__content">
                <div class="review-card__user-info user-info">
                  <img class="user-info__avatar" src="../img/user-icon.png" alt="User avatar">
                  <div class="user-info__content">
                    <span class="user-info__name">Андрей Блинов</span>
                    <span class="user-info__review-date">Август 17, 2020 · </span>
                    <span class="user-info__review-rate"> 4,9</span>
                  </div>
                </div>
                <div class="review-card__props">
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">проект</span>
                    <span class="review-card__prop__descr">Каркасный дом, КД-79 «Новгород»</span>
                  </div>
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">район</span>
                    <span class="review-card__prop__descr">Новгородская обл., деревня Ермолино</span>
                  </div>
                </div>
                <p class="review-card__text-review">
                  Давно мечтал о доме, участок приобрел несколько лет назад, но строительство как-то откладывалось. Компанию «53 Дома» посоветовал сосед – заказывал у вас баню.
                </p>
                <a href="#" class="review-card__source-link">читать полностью (.pdf)</a>
                <span class="review-card__source-link-descr">Оригинал отзыва в виде скана</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__gallery">
                <img src="../img/review-img.jpg" alt="review image" class="review-card__image">
                <div class="review-card__preview-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-1.jpg" alt="preview image">
                        <span>Крыльцо</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-2.jpg" alt="preview image">
                        <span>Первый этаж</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-3.jpg" alt="preview image">
                        <span>Мансарда</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-reset review-card__preview-slider__prev-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
                <button class="btn-reset review-card__preview-slider__next-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
              </div>
              <div class="review-card__content">
                <div class="review-card__user-info user-info">
                  <img class="user-info__avatar" src="../img/user-icon.png" alt="User avatar">
                  <div class="user-info__content">
                    <span class="user-info__name">Андрей Блинов</span>
                    <span class="user-info__review-date">Август 17, 2020 · </span>
                    <span class="user-info__review-rate"> 4,9</span>
                  </div>
                </div>
                <div class="review-card__props">
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">проект</span>
                    <span class="review-card__prop__descr">Каркасный дом, КД-79 «Новгород»</span>
                  </div>
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">район</span>
                    <span class="review-card__prop__descr">Новгородская обл., деревня Ермолино</span>
                  </div>
                </div>
                <p class="review-card__text-review">
                  Давно мечтал о доме, участок приобрел несколько лет назад, но строительство как-то откладывалось. Компанию «53 Дома» посоветовал сосед – заказывал у вас баню.
                </p>
                <a href="#" class="review-card__source-link">читать полностью (.pdf)</a>
                <span class="review-card__source-link-descr">Оригинал отзыва в виде скана</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__gallery">
                <img src="../img/review-img.jpg" alt="review image" class="review-card__image">
                <div class="review-card__preview-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-1.jpg" alt="preview image">
                        <span>Крыльцо</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-2.jpg" alt="preview image">
                        <span>Первый этаж</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-3.jpg" alt="preview image">
                        <span>Мансарда</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-reset review-card__preview-slider__prev-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
                <button class="btn-reset review-card__preview-slider__next-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
              </div>
              <div class="review-card__content">
                <div class="review-card__user-info user-info">
                  <img class="user-info__avatar" src="../img/user-icon.png" alt="User avatar">
                  <div class="user-info__content">
                    <span class="user-info__name">Андрей Блинов</span>
                    <span class="user-info__review-date">Август 17, 2020 · </span>
                    <span class="user-info__review-rate"> 4,9</span>
                  </div>
                </div>
                <div class="review-card__props">
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">проект</span>
                    <span class="review-card__prop__descr">Каркасный дом, КД-79 «Новгород»</span>
                  </div>
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">район</span>
                    <span class="review-card__prop__descr">Новгородская обл., деревня Ермолино</span>
                  </div>
                </div>
                <p class="review-card__text-review">
                  Давно мечтал о доме, участок приобрел несколько лет назад, но строительство как-то откладывалось. Компанию «53 Дома» посоветовал сосед – заказывал у вас баню.
                </p>
                <a href="#" class="review-card__source-link">читать полностью (.pdf)</a>
                <span class="review-card__source-link-descr">Оригинал отзыва в виде скана</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__gallery">
                <img src="../img/review-img.jpg" alt="review image" class="review-card__image">
                <div class="review-card__preview-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-1.jpg" alt="preview image">
                        <span>Крыльцо</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-2.jpg" alt="preview image">
                        <span>Первый этаж</span>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="review-card__preview-slider__slide">
                        <img src="../img/preview-slider-img-3.jpg" alt="preview image">
                        <span>Мансарда</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn-reset review-card__preview-slider__prev-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
                <button class="btn-reset review-card__preview-slider__next-btn">
                  <svg>
                    <use xlink:href="img/sprite.svg#small-arrow-right"></use>
                 </svg>
                </button>
              </div>
              <div class="review-card__content">
                <div class="review-card__user-info user-info">
                  <img class="user-info__avatar" src="../img/user-icon.png" alt="User avatar">
                  <div class="user-info__content">
                    <span class="user-info__name">Андрей Блинов</span>
                    <span class="user-info__review-date">Август 17, 2020 · </span>
                    <span class="user-info__review-rate"> 4,9</span>
                  </div>
                </div>
                <div class="review-card__props">
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">проект</span>
                    <span class="review-card__prop__descr">Каркасный дом, КД-79 «Новгород»</span>
                  </div>
                  <div class="review-card__prop">
                    <span class="review-card__prop__title">район</span>
                    <span class="review-card__prop__descr">Новгородская обл., деревня Ермолино</span>
                  </div>
                </div>
                <p class="review-card__text-review">
                  Давно мечтал о доме, участок приобрел несколько лет назад, но строительство как-то откладывалось. Компанию «53 Дома» посоветовал сосед – заказывал у вас баню.
                </p>
                <a href="#" class="review-card__source-link">читать полностью (.pdf)</a>
                <span class="review-card__source-link-descr">Оригинал отзыва в виде скана</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__slider-pag"></div>
      </div>
      <button class="btn-reset reviews__slider__prev-btn">
        <svg>
          <use xlink:href="img/sprite.svg#small-arrow-right"></use>
       </svg>
      </button>
      <button class="btn-reset reviews__slider__next-btn">
        <svg>
          <use xlink:href="img/sprite.svg#small-arrow-right"></use>
       </svg>
      </button>
    </div>
    <div class="reviews__more">
      <a class="reviews__more__link yellow-btn">
        <span>показать еще отзывы</span>
      </a>
      <span class="about-projects">Еще более 100 мнений о нашей работе</span>
    </div>
  </div>
</section>
