<section class="services">
  <div class="container">
    <h2 class="services__title">оказываем все виды смежных услуг</h2>
    <p class="services__descr">Водоснабжение, заборы и прочие услуги — как комплексно, так и по отдельности</p>
    <div class="services__notification notification">
      <a href="#">узнайте, что еще мы делаем</a>
    </div>
    <ul class="services__list">
      <li class="services__item">
        <svg>
           <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
        <div class="services__item__content services-content">
          <h4 class="services-content__title">Водоснабжение</h4>
          <p class="services-content__descr">Водоснабжéние — подача поверхностных или подземных вод потребителям в требуемом количестве</p>
          <div class="services-content__links">
            <a href="#" class="services-content__link services-content__link--blue">заказать</a>
            <a href="#" class="services-content__link services-content__link--white">Подробнее</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
