<section class="work-schema">
  <div class="container">
    <a name="schema"></a>
    <h2 class="work-schema__title">схема работы</h2>
    <ul class="work-shema__stages-list">
      <li class="work-schema__stages-item stages-item stages-item--left stages-item--step-1">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 1</span>
          <h4 class="stages-item__title">Свяжитесь с нами</h4>
        </div>
        <p class="stages-item__descr">Оставьте заявку через наш сайт или позвоните нам на 8 (800) 551-73-57;</p>
      </li>
      <li class="work-schema__stages-item stages-item stages-item--middle stages-item--step-2">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 2</span>
          <h4 class="stages-item__title">доставка материала</h4>
        </div>
        <p class="stages-item__descr">Доставка и выгрузка всех материалов в удобный для вас день;</p>
      </li>
      <li class="work-schema__stages-item stages-item stages-item--right stages-item--step-3">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 3</span>
          <h4 class="stages-item__title">заключаем договор</h4>
        </div>
        <p class="stages-item__descr">На данном этапе происходит оплата 70% стоимости объекта;</p>
      </li>
      <li class="work-schema__feedback-link">
        <a class="blue-btn open-callback-modal">перезвоните мне</a>
      </li>
      <li class="work-schema__stages-item stages-item stages-item--left stages-item--step-4">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 4</span>
          <h4 class="stages-item__title">строим объект</h4>
        </div>
        <p class="stages-item__descr">Производим полный цикл строительных и отделочных работ на объекте;</p>
      </li>
      <li class="work-schema__stages-item stages-item stages-item--middle stages-item--step-5">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 5</span>
          <h4 class="stages-item__title">сдача объекта</h4>
        </div>
        <p class="stages-item__descr">Вы принимаете работу, если нет претензий, подписываем акт сдачи-приемки;</p>
      </li>
      <li class="work-schema__stages-item stages-item stages-item--right stages-item--step-6">
        <div class="stages-item__top">
          <span class="stages-item__step">шаг 6</span>
          <h4 class="stages-item__title">гарантия 5 лет</h4>
        </div>
        <p class="stages-item__descr">Выдаем документ, который подтверждает гарантию на все наши работы;</p>
      </li>
    </ul>
  </div>
</section>
