// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-brown: #7c736e;
  --color-bunker: #0b0f11;
  --color-mystic: #e0e7ea;
  --color-cerulean: #0bb1f3;
  --color-lily-white: #ebf9ff;
}
